@model Makersn.Models.ArticleFileT
@{

    
}

<div class="imgBox ui-draggable ui-draggable-handle ui-droppable">
    <a title="삭제" class="delImg" onclick="delImg(this)" href="javascript:void(0);" data-val="@Model.No"></a>
    <input name="multi[]" class="_multi" type="hidden" value="@Model.No">
    <input name="chkType" value="@Model.FileType" type="hidden" />
    @if (Model.FileType == "img")
    {
        <img src="@Url.Content(ViewBag.ArticleImgUrl + Model.Rename + "?" + DateTime.Now)" alt="thumnail" title="@Model.Name" />
    }
    else
    {
        if (string.IsNullOrEmpty(Model.ImgName))
        {
        <img src="@Url.Content("~/Content/images/common/bg3dFile.png")" alt="3d파일이미지" title="@Model.Name">
        <em class="fileName">@Model.Rename</em>
        }
        else
        {
        <img src="@Url.Content(ViewBag.ArticleImgUrl + Model.ImgName + "?" + DateTime.Now)" alt="3d파일이미지" title="@Model.Name">
        }
        <a href="javascript:void(0);" onclick="delImg(this)" class="delImg" title="삭제" data-val="@Model.No"></a>
        <a href="javascript:void(0);" class="showThum" id="stl_@Model.No" data-val="@Model.No" title="썸네일이미지보기" data-file="@Url.Content(ViewBag.Article3DUrl + Model.Rename)" data-ext="@Model.Ext" data-js="@Url.Content(ViewBag.ArticleJsUrl + Model.Rename + ".json")">
            <img src="@Url.Content("~/Content/images/common/btnThumnail.png")" alt="썸네일이미지보기"></a>
    }
</div>
