<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@ViewBag.Title</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")">

    @Styles.Render("~/Content/common_css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- Wrap -->
    <div class="wrap @ViewBag.WrapClass">

        <!-- Header -->
        <div class="header">

            <!-- HeaderTop -->
            <div class="headerTop">
                <div class="headerBox">
                    <!-- H1 -->
                    <h1><a href="javascript:GoMain()">
                        <img src="@Url.Content("~/Content/images/common/h1_logo.gif")" alt="MakersN Make & Share!" /></a></h1>
                    <!-- //H1 -->

                    <!-- MainMenu -->
                    <ul class="mainMenu">
                        <li><a href="javascript:GoMain()" class="on">디자인</a></li>
                        @*<li><a href="#">프린팅</a></li>*@
                    </ul>
                    <!-- //MainMenu -->

                    <!-- rightZone -->

                    <div class="rightZone">

                        <!-- SearchArea -->
                        <div class="searchArea">
                            <input type="text" id="searchTxt" name="searchTxt" value="@ViewBag.Text" />
                            <button title="검색" id="btnSearch" class="_search_btn"></button>
                            @*</form>*@
                            <p class="line"></p>
                        </div>
                        <!-- //SearchArea -->

                        <!-- MemberArea -->
                        <a href="javascript:quickChkPopup()" class="memberArea">
                            
                        </a>
                        <a href="#" class="printing_btn" id="showTop" onclick="chkPopup();"></a>

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <!-- //MemberArea -->
                    </div>
                    <!-- rightZone -->

                </div>
                <!-- //headerBox -->
            </div>
            <!-- //HeaderTop -->
        </div>
        <!-- //Header -->

        <!-- contWrap -->
        <div class="contWrap">
            @RenderBody()
        </div>
        <!-- //contWrap -->

        <!-- Footer -->
        <div class="footer">
            <div class="footerList">
                <div class="copyRight">
                    <p>© makers corp. All right reserved.</p>
                </div>
            </div>

        </div>
        <!-- //Footer -->
    </div>
    <!-- //Wrap -->
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        //로그인 아이콘 클릭
        function chkPopup() {
            if (loginPop("@ViewBag.LogOnChk")) return false;
            mypageGo();
            SetNoticeCnt();
        }

        function quickChkPopup() {
            if (!loginPop("@ViewBag.LogOnChk")) {
                location.href = "/profile";
            };
        }

        function SetNoticeCnt() {
            var onSuccess = function (result) {
                if (result.notice > 0) {
                    $("#profileNotice").html("알림 <img src=\"/content/images/common/notice_left.gif\" alt=\"알림\" /><span style=\"font-size: 11px; background-color: #fe7900; line-height: 22px; padding: 5px 4px 3px 4px;margin-left: -1px;\">" + result.notice + "</span><img src=\"/content/images/common/notice_right.gif\" alt=\"알림\" />");
                    $("#profileMyPage").attr("href", "/profile?gubun=N");
                }
                if (result.message > 0) {
                    $("#messageCnt").html("메시지 <img src=\"/content/images/common/notice_left.gif\" alt=\"메시지\" /><span style=\"font-size: 11px; background-color: #fe7900; line-height: 22px; padding: 5px 4px 3px 4px;margin-left: -1px;\">" + result.message + "</span><img src=\"/content/images/common/notice_right.gif\" alt=\"메시지\" />");
                }
            }
            Ajax.AjaxResponseModelService(this, "/profile/GetNoticeCnt", {}, onSuccess);
        }
        //팔로우 기능 (atricle 디테일 페이지)
        function SetFollowUser(val) {
            if (!loginPop("@ViewBag.LogOnChk")) {

                var data = {
                    memberNo: val
                }
                var onSuccess = function (result) {
                    if (result.Result == 1) {
                        $("#userFollow").addClass("on");
                    }
                    else {
                        $("#userFollow").removeClass("on");
                    }
                }

                Ajax.AjaxResponseModelService(this, "/profile/SetFollow", data, onSuccess);
            }
        }

        //팔로우 기능(다른사람 프로필 페이지 상단 우측)
        function SetFollowUser2(val) {
            if (!loginPop("@ViewBag.LogOnChk")) {

                var data = {
                    memberNo: val
                }
                var onSuccess = function (result) {
                    if (result.Result == 1) {
                        //$("#userFollow").addClass("on");
                        $("#userFollow").removeClass();
                        $("#userFollow").addClass("flwing");
                        $("#follower").find(".cnt").text(parseInt($("#follower").find(".cnt").text(), 10) + 1);
                    }
                    else {
                        //$("#userFollow").removeClass("on");
                        $("#userFollow").removeClass();
                        $("#userFollow").addClass("flw");
                        $("#follower").find(".cnt").text(parseInt($("#follower").find(".cnt").text(), 10) - 1);
                    }
                }

                Ajax.AjaxResponseModelService(this, "/profile/SetFollow", data, onSuccess);
            }
        }

        //팔로잉 기능(팔로잉, 팔로워 페이지)
        SetFollowInFollowPage = function (val, name) {
            if (!loginPop("@ViewBag.LogOnChk")) {
                var data = {
                    memberNo: val
                }
                var onSuccess = function (result) {
                    if (result.Result == 1) {
                        $("#btnFollow_" + name).attr("src", "/content/images/common/btn/btn_following.png");
                        if ("@ViewBag.CheckSelf" == "1") {
                            $("#following").find(".cnt").text(parseInt($("#following").find(".cnt").text(), 10) + 1);
                        }
                    }
                    else {
                        $("#btnFollow_" + name).attr("src", "/content/images/common/btn/btn_follow.png");
                        if ("@ViewBag.CheckSelf" == "1") {
                            $("#following").find(".cnt").text(parseInt($("#following").find(".cnt").text(), 10) - 1);
                        }
                    }
                }

                Ajax.AjaxResponseModelService(this, "/profile/SetFollow", data, onSuccess);
            }
        }

        //좋아요 기능
        function SetLikes(val, loginChk) {
            if (!loginPop(loginChk)) {
                var onSuccess = function (result) {
                    if (result.Result == 0) {
                        $("#likeChk_" + val).text(parseInt($("#likeChk_" + val).text()) - 1);
                        $("#likeChk_" + val).removeClass("on");
                        if ("@ViewBag.CheckSelf" == "1") {
                            $("#likes").find(".cnt").text(parseInt($("#likes").find(".cnt").text(), 10) - 1);
                        }
                    }
                    else {
                        $("#likeChk_" + val).text(parseInt($("#likeChk_" + val).text()) + 1);
                        $("#likeChk_" + val).addClass("on");
                        if ("@ViewBag.CheckSelf" == "1") {
                            $("#likes").find(".cnt").text(parseInt($("#likes").find(".cnt").text(), 10) + 1);
                        }
                    }
                    count = 0;
                }
                Ajax.AjaxResponseModelService(this, "/design/SetLikes", { articleNo: val }, onSuccess);
            }
            else {
                count = 0;
            }
        }

        function GoProfile() {
            location.href = "/profile";
        }

        function GoMain() {
            location.href = "/";
        }

        function GoPageFromTop(gubun) {
            $("#hfGubun").val(gubun);
            var $form_data = $("#topForm").serialize();

            $("#topForm").submit();
        }

        function CleanUp() {
            var onSuccess = function (result) {
                if (result.Success) { alert(result.Message); }
            }

            Ajax.AjaxResponseModelService(this, "/cleanup", {}, onSuccess);
        }

        $(function () {

            ////get
            //var scrollCookie = $.cookie('scroll_loc' + window.location.href);

            //if (scrollCookie != undefined) {
            //    $(window).scrollTop(scrollCookie);
            //}
            ////set
            //$(window).scroll(function () {
            //    $.cookie('scroll_loc', $(this).scrollTop());
            //});

            $("#ArticleUpload").click(function (e) {
                if (loginPop("@ViewBag.LogOnChk")) return false;
                $(location).attr("href", "/design/Upload");
            });

            $("#facebook_login").click(function () {
                var $form_data = $("#facebook_form").serialize();
                var options = {
                    beforeSend: function () {
                        //alert("here");
                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                    },
                    success: function (response) {
                        if (response.Success) {
                            console.log(response);
                        }
                        else {
                            alert(response.Message);
                        }
                    },
                    complete: function (response) {
                    },
                    error: function () {
                    }
                };

                $('#facebook_form').ajaxForm(options).submit();
            });


            if ("@ViewBag.Gubun" == "") { $("#@ViewBag.CodeNo").addClass("on"); }

            $('body').append('<a href="#" class="back-to-top"></a>');

            $(window).scroll(function () {
                if ($(this).scrollTop() > 250) {
                    $('.back-to-top').fadeIn(100);

                    if ($(window).scrollTop() + $(window).height() > $(document).height() - 180) {

                        var marginBottom = 180 - ($(document).height() - $(window).scrollTop() - $(window).height());
                        $(".back-to-top").css("margin-bottom", marginBottom + "px");

                    } else {
                        $(".back-to-top").css("margin-bottom", "0px");
                    }
                } else {
                    $('.back-to-top').fadeOut(100);
                }
            });

            $('.back-to-top').click(function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, 500);
            })
        });
    </script>
</body>
</html>
